.overlay {
  inset: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.509);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  width: auto;
  max-width: 90%;
  height: auto;
  max-height: 90%;
  overflow: auto;
}
.button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: rgba(184, 253, 166, 0.5);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1002;
}
.content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  overflow: hidden;
}
